<nav class="navbar navbar-expand-md navbar-light fixed-top rounded">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><small>Administration </small>Georgi's Garage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Users" asp-action="All">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Services" asp-action="All">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Orders" asp-action="All">Orders</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Orders
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" asp-area="Administration" asp-controller="Orders" asp-action="All">All</a>
                        <a class="nav-link" asp-area="Administration" asp-controller="Orders" asp-action="Processed">Processed</a>
                        <a class="nav-link" asp-area="Administration" asp-controller="Orders" asp-action="Sent">Sent</a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-link" asp-area="Administration" asp-controller="Orders" asp-action="Delivered">Delivered</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Administration" asp-controller="Products" asp-action="All">Products</a>
                </li>
            </ul>

            @*<partial name="_LoginPartial.cshtml" />*@
        </div>
    </div>
</nav>
