@model CreateServiceViewModel

<fieldset class="rating">
    <input type="radio" asp-for="Material" id="star5" value="5" /><label asp-for="Material" class="full" for="star5" title="5 stars"></label>
    <input type="radio" asp-for="Material" id="star4" value="4" /><label asp-for="Material" class="full" for="star4" title="4 stars"></label>
    <input type="radio" asp-for="Material" id="star3" value="3" /><label asp-for="Material" class="full" for="star3" title="3 stars"></label>
    <input type="radio" asp-for="Material" id="star2" value="2" /><label asp-for="Material" class="full" for="star2" title="2 stars"></label>
    <input type="radio" asp-for="Material" id="star1" value="1" /><label asp-for="Material" class="full" for="star1" title="1 star"></label>
</fieldset>