@model EditServiceViewModel

<fieldset class="rating">
    <input type="radio" asp-for="PerformanceRating" id="surfaceStar5" value="5" /><label asp-for="PerformanceRating" class="full" for="surfaceStar5" title="5 stars"></label>
    <input type="radio" asp-for="PerformanceRating" id="surfaceStar4" value="4" /><label asp-for="PerformanceRating" class="full" for="surfaceStar4" title="4 stars"></label>
    <input type="radio" asp-for="PerformanceRating" id="surfaceStar3" value="3" /><label asp-for="PerformanceRating" class="full" for="surfaceStar3" title="3 stars"></label>
    <input type="radio" asp-for="PerformanceRating" id="surfaceStar2" value="2" /><label asp-for="PerformanceRating" class="full" for="surfaceStar2" title="2 stars"></label>
    <input type="radio" asp-for="PerformanceRating" id="surfaceStar1" value="1" /><label asp-for="PerformanceRating" class="full" for="surfaceStar1" title="1 star"></label>

</fieldset>