@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="banner">
        <div class="item active">
            <img src="~/images/GeorgisGarageBanner.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Tinting Windows</h2>
        <ul>
            <li>Low grade - Armolan 3y. Warrianty</li>
            <li>Middle grade - Llumar 7y. Warrianty</li>
            <li>High grade - Armolan 10y. Warrianty</li>
            <li>Polishing headlights</li>
            <li>Ceramic coating/li>
            <li>Cleaning, Nourishing and Protecting Leather</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Polishing cars</h2>
        <ul>
            <li>Low grade - 3M 2m. Warrianty</li>
            <li>Middle grade - Farecla 5m. Warrianty</li>
            <li>Middle grade - Menzerna 1y. Warrianty</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Ceramic coating</h2>
        <ul>
            <li>High grade - GTECHNIQ +5y Warrianty after polish.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Polishing headlights</h2>
        <ul>
            <li>Low grade - Only polish 2m. Warrianty</li>
            <li>Middle grade - Polish+Cearmic coating 1y. Warrianty</li>
            <li>High grade - Polish+Protective film 5y. Warrianty</li>
        </ul>
    </div>
</div>
