@{
    ViewData["Title"] = "Home Page";
}

<div align="center" id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" color="green"; role="banner">
        <div class="item active">
            <img src="~/images/GeorgisGarageBanner.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
    </div>
</div>
<div align="center" >
            <h3>
                <b>
                    Запазете час за избраната от вас услуга от
                    <a class="btn btn-danger" asp-action="Contact">
                        <b>ТУК</b>
                    </a>
                </b>
            </h3>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Затъмняване на автостъкла</h2>
        <ul>
            <li>Нисък клас - Armolan 3г. гаранция</li>
            <li>Среден клас - Llumar 7г. гаранция</li>
            <li>Висок клас - Armolan 10г. гаранция</li>
            <li>Полиране на фарове</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Пастиране на коли</h2>
        <ul>
            <li>Нисък клас - 3M 2м. гаранция.</li>
            <li>Среден клас - Farecla 5м. гаранция</li>
            <li>Висок клас - Menzerna 1г. гаранция</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Керамично покритие</h2>
        <ul>
            <li class="glyphicon-text-color">Висок клас - GTECHNIQ 5г. гаранция към пастирането.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Полиране на фарове</h2>
        <ul>
            <li>Нисък клас - Само полиране 2м. гаранция</li>
            <li>Middle grade - Полиране + керамично защитие 1г. гаранция.</li>
            <li>High grade - Полиране + защитно фолио 5г. гаранция</li>
        </ul>
    </div>
</div>
