<div class="dropdown show collapse navbar-collapse d-flex  " id="navbarNav">
    <a class="nav-link" asp-area="Services" asp-controller="Home" asp-action="Index">
        Автокозметични услуги
    </a>
    <span class="dropdown-toggle nav-link nav-link-dark " id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="False"></span>
    <div class="dropdown-menu mt-2" aria-labelledby="dropDownMenuLink">
        <a class="dropdown-item" asp-area="Services" asp-controller="Categories" asp-action="All">Всички услуги</a>
        <a class="dropdown-item" asp-area="Services" asp-controller="Categories" asp-action="TopServices">С най-висок рейтинг</a>
        <a class="dropdown-item" asp-area="Services" asp-controller="Categories" asp-action="LatestServices">Последни услуги</a>
        <a class="dropdown-item" asp-area="Services" asp-controller="Categories" asp-action="LongestServices">Най-дълги услуги</a>
    </div>
</div>
